:host {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;

  svg {
    $dimension: 25vh;
    width: $dimension;
    height: $dimension;
  }

  .separator {
    display: block;
    height: 15vh;
    width: 2px;
    background-color: white;
  }

  div {
    font-family: 'Open Sans';
    font-size: 5vh;
    margin: 0vh 5vh;
    font-weight: 100;
  }

  @media (max-width: 900px) {
    svg {
      $dimension: 10vw;
      width: $dimension;
      height: $dimension;
    }

    .separator {
      height: 10vw;
    }

    div {
      font-size: 4vw;
      margin: 0vh 4vw;
    }
  }
}