:host {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  padding: 0.5rem;
  border-bottom: 1px solid var(--primary);

  nav {
    cursor: pointer;
    margin: 0 1rem;
  }

  nav:not(.logo) {
    border-bottom: 1px solid;
    border-bottom-color: transparent;
    transition: border-bottom-color 0.2s ease-out;

    &:active,
    &:focus,
    &.active {
      border-bottom-color: var(--primary);
    }
  }

  svg,
  .logo {
    $size: 3rem;
    width: $size;
    height: $size;
  }
}
