:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20vh;

  .header {
    width: 70%;
    display: flex;
    color: #998003;
    align-items: center;

    h1 {
      font-family: 'Red Hat Text';
      font-size: 5vh;
    }

    .separator {
      display: block;
      flex: 1;
      height: 2px;
      background-color: #998003;
      margin-left: 5vw;
    }

  }

  p {
    width: 70%;
    color: white;
    font-size: 2.5vh;
    font-family: 'Open Sans';
  }
}