<div class="header">
  <h1>WIKINGER</h1>
  <span class="separator"></span>
</div>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque cursus pharetra nibh, id fringilla lacus
  viverra eget. Nunc vel ex molestie diam pharetra lobortis. Integer vitae quam dignissim nulla tincidunt pharetra.
  Aenean leo neque, facilisis vitae dui quis, hendrerit ullamcorper ligula. Curabitur id risus et metus dapibus aliquam.
  Suspendisse mi risus, tristique nec elementum id, gravida id ligula. Duis rutrum, quam non maximus tempus, turpis
  ligula auctor dolor, ut condimentum tellus risus vel diam. Nulla facilisi. Quisque mattis iaculis purus, sit amet
  sodales sem pretium ut. In nec commodo lectus, ac feugiat ipsum. Proin id scelerisque justo. Integer ac efficitur
  diam. Fusce eget fermentum metus. Pellentesque hendrerit dolor non dui congue consectetur. Aliquam vehicula, justo
  vitae tempor laoreet, ipsum nibh efficitur sapien, a scelerisque nunc lectus vel mi.</p>