<h1>Galas</h1>

<p>
  Im Jahr 2015 war der Schwäbische Turnerbund auf der Suche nach einem
  Ausrichter für die Landesqualifikation Tuju-Stars- dem Nachwuchswettbewerb für
  junge Showgruppen aus ganz Schwaben, welchen die GOLD SEEKERS seit 2014
  bestreiten. <br /><br />
  Schnell war sich die Vorstandschaft des FC Röhlingen und die Trainerinnen der
  Showakrobaten einig, diese Herausforderung anzunehmen und es wurde gemeinsam
  überlegt, wie die Landesqualifikation Tuju-Stars zu etwas ganz Besonderem
  werden kann. <br /><br />
  Es entstand die Idee, den Wettkampf in einen Gala-Abend zu verpacken und
  diesem den Titel Zeit des Blühens zu verleihen. Damit schlug die Geburtsstunde
  der Sportgala. <br /><br />
  Inzwischen wird seit 5 Jahren der Frühling in der Ellwanger Rundsporthalle am
  ersten April-Wochenende mit der Stadtportgala eingeleitet. Mittlerweile sind
  nicht nur regionale und überregionale Gruppen zu Gast, sondern auch
  internationale, hochkarätige Showacts. Es ist die gelungene Verwirklichung
  eines Herzensprojekts. <br /><br />
  Um neue Energie zu tanken und aus dem Vollen schöpfen zu können, gönnt sich
  der FC Röhlingen in diesem Jahr erstmals eine Verschnaufpause. <br /><br />
  Doch der Grundstein für die Stadtsportgala 2021 ist bereits gelegt. Hinter den
  kreativen Köpfen der Showakrobatik Trainerinnen und den vielen ehrenamtlichen
  Helfern aus der Breitensportabteilung, hat sich ein neues Organisationsteam
  zusammengefunden, welches die Erfolgsgeschichte weiterschreiben will.
  <br /><br />
  Die Stadtsportgala wird zum ersten Mal an zwei Abenden veranstaltet, sodass
  der 09. Und 10. April 2021 bereits jetzt im Kalender vorgemerkt werden kann.
</p>
