:host {
  display: flex;
  flex-direction: column;
  padding: var(--spacing);

  nav {
    display: flex;
    justify-content: space-between;

    svg {
      width: 7rem;
      height: 7rem;
      cursor: pointer;

      &.active {
        background-color: rgba(255, 255, 255, 0.3);
      }
    }
  }
}
