<nav>
  <svg routerLink="/shows/wikinger" routerLinkActive="active">
    <use href="assets/svg/images/wikinger.svg#wikinger" />
  </svg>
  <svg routerLink="/shows/fortuna" routerLinkActive="active">
    <use href="assets/svg/images/fortuna.svg#fortuna" />
  </svg>
  <svg routerLink="/shows/invisa" routerLinkActive="active">
    <use href="assets/svg/images/invisa.svg#invisa" />
  </svg>
  <svg routerLink="/shows/stage" routerLinkActive="active">
    <use href="assets/svg/images/stage.svg#stage" />
  </svg>
</nav>

<router-outlet></router-outlet>
