<span class="separator"></span>

<h1 id="shows">SHOWS</h1>

<div>
  <svg [routerLink]="['/shows']" fragment="wikinger">
    <use href="assets/svg/wikinger.svg#svg1035" />
  </svg>
  <svg [routerLink]="['/shows']" fragment="fortuna">
    <use href="assets/svg/fortuna.svg#svg2405" />
  </svg>
  <svg [routerLink]="['/shows']" fragment="invisa">
    <use href="assets/svg/invisa.svg#svg3019" />
  </svg>
  <svg [routerLink]="['/shows']" fragment="bühnenauftritte">
    <use href="assets/svg/bühnenauftritte.svg#svg5292" />
  </svg>
</div>

<app-wikinger></app-wikinger>

<app-fortuna></app-fortuna>

<app-invisa></app-invisa>

<app-buehnenauftritte></app-buehnenauftritte>