:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20vh;
  position: relative;

  h1 {
    font-size: 5vh;
    color: #998003;
    font-family: 'Red Hat Text';
    font-weight: 500;
  }

  p {
    width: 70vw;
    font-size: 2.5vh;
    color: white;
    z-index: 1;
    font-family: 'Open Sans';
  }

  .decor {
    position: absolute;
    display: block;
    height: 80%;
    width: 5%;
    border-bottom-left-radius: 5vw;
    border-bottom-right-radius: 5vw;
    background-image: linear-gradient(rgba(0, 0, 0, 0), #998003);
    top: 10%;
  }

  .decor.l {
    left: 5%;
    height: 50%;
  }

  .decor.r {
    right: 5%;
    top: 40%;
    height: 60%;
  }
}