body {
  --primary: black;
  --on-primary: #998003;
  --on-primary-contrast: white;
  background-color: var(--primary);
  margin: 0;
  font-family: "Open Sans";
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}
