<h1>Invisa</h1>

<p>
  Wer sagt denn, dass wir über alles Bescheid wissen, was es hier auf der Erde
  gibt? Sind wir nicht in unserer Fantasie eingeschränkt, weil wir durch die
  reale Welt geleitet werden? Denn vielleicht gibt es doch etwas, was von uns
  Menschen völlig unentdeckt und unantastbar ist. Eine Welt, in der nichts
  normal oder real erscheint, für die dortigen Wesen jedoch, bedeutet diese Welt
  ihr Leben und ihre Heimat. Sie führen ein Leben, wie wir Menschen, mit
  Spannungen und Streitigkeiten untereinander, jedoch auch Versöhnung. Sie
  erkennen so, wie wichtig ein friedliches Miteinander und eine starke
  Gemeinschaft ist.
</p>
