<h1>Fortuna</h1>

<p>
  Wir kennen sie als Glücks- und Schicksalsgöttin. Sie hat das Schicksal des
  römischen Volkes selbst in der Hand. Immer ging es um wichtige Stationen im
  Leben, um entscheidende Wendungen. Die Vorstellung einer Schicksalsmacht, die
  nicht von Menschen zu beeinflussen ist, macht diese Göttin dennoch auch für
  andere Angelegenheiten und Herzenswünsche lebendig. Sie ist damit die große
  Mutter, die das himmlische Rad der Sterne und damit das karmische Rad des
  Schicksals für die Menschen dreht. <br />
  Fortuna- aus dem Leben des römischen Volkes- von verborgenen Überraschungen
  und unvorhersehbaren Veränderungen.
</p>
