<header>
  <img [src]="imageURL | async" />
  <h1>GOLD</h1>
  <h1>SEEKERS</h1>
  <h2>SHOWAKROBATIK</h2>
</header>

<main>
  <h3>Erfahren sie mehr!</h3>
  <p>
    Die Showakrobatikgruppe GOLD SEEKERS stammt vom FC Röhlingen, einem
    Sportverein aus dem Süden Deutschlands. Die GOLD SEEKERS stehen unter der
    Leitung von Vanessa Schneider, Vanessa Spaag und Nicole Bühler. Mit 41
    Sportlerinnen und Sportler, im Alter zwischen 7 und 24 Jahren, bilden sie
    seit 2013 eine Showakrobatikgruppe, die ihren Ursprung in der Sportakrobatik
    hat. Was die GOLD SEEKERS auszeichnet sind ausdrucksstarke
    Großgruppenperformances mit originellen Akrobatik- und Showelementen,
    gepaart mit waghalsigen Salti und Sprüngen. <br /><br />
    Die GOLD SEEKERS erreichten 2014, 2015 und 2018 jeweils Platz 1 bei der
    Landesqualifikation Tuju-Stars des Schwäbischen Turnerbunds. 2019 wurden sie
    erstmals für die deutsche Delegation und die Teilnahme an der 16.
    Weltgymnaestrada des Weltgymnastikverbands FIG in Dornbirn ausgewählt.
    <br /><br />
    Die GOLD SEEKERS treten bei Sport- und Firmenveranstaltungen in der Region,
    als auch überregional, mit komplettem Showprogramm oder individuell
    ausgearbeitetem Showkonzept auf. 2019 wurden die GOLD SEEKERS für eine
    Produkt Launch bei der Hausmesse der Firma Bausch + Ströbel Maschinenfabrik
    engagiert. <br /><br />
    Buchungsanfragen können gerne an goldseekers@fc-roehlingen gerichtet werden.
  </p>
</main>
